@font-face {
    font-family: 'lcars_font';
    src: url('../fonts/lcars-webfont.eot');
    src: url('../fonts/lcars-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lcars-webfont.woff') format('woff'),
         url('../fonts/lcars-webfont.ttf') format('truetype'),
         url('../fonts/lcars-webfont.svg#webfontMzhP0WIg') format('svg');
    font-weight: normal;
    font-style: normal;
}

html{
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

body {
  min-height: 100%;
  min-width: 100%;
  display: table;
  padding: 0;
  margin: 0;
  background-color: black;
}

.row 
{
   display:table-row;
}

.cell 
{
   display:table-cell;
}

.altcell {
  float: left;
}

#gum {
  background: #c00;
  color: #fff;
  padding: 10px;
}

#source {
  display: inline-block; 
  /*max-width: 100%; */
  width: 640px;
  height: 480px;
  margin-left: : auto;
  margin-right: : auto;
}

#sink {
  display: inline-block; 
  /*max-width: 100%; */
  width: 640px;
  height: 480px;
  margin-left: : auto;
  margin-right: : auto;
}

#drawingArea {
  width: 100%;
  /*height: 480px;*/
  text-align: center;
}

video, canvas { display: none; }

input { width: 360px; }

.blue {
  background-color: #837EF9;
}

.yellow {
  background-color: #F98406;
}

.roundleft {
  border-radius: 25px 0px 0px 25px;
}

.uif {
  font-family: "lcars_font";
  font-size: x-large;
  text-transform: uppercase;
}

.ui {
  display: inline-block;
  text-align: right;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 4px;
  font-family: "lcars_font";
  font-size: x-large;
}

.videohead {
  width: 640px;
}

input, button {
  font-family: "lcars_font";
  text-transform: uppercase;
  font-size: x-large; 
  border:0;
  color: white;
  background-color: black;
  outline: none;
}

button {
  width: calc(33% - 10px);
  color: black;
  background-color: #C084C1; 
  outline: none;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 4px;
  border-radius: 25px 25px 25px 25px;
}

button:hover {
  background-color: #BF5054; 
}

.dialog {
  margin: auto;
  background-color: #F98406;
  z-index:20000;
  border-radius: 20px 20px 20px 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}

#saveDialog, #loadDialog {
  display: none;
}

#saveDialogInner, #loadDialogInner {
  margin: 20px;
  padding: 20px;
  min-width: 10em;
  background-color: black;
  color: white;
  font-family: "lcars_font";
  font-size: 250%; 
  letter-spacing: 2px;
  text-align: center;
}

#codeInput {
  font-size: inherit; 
  letter-spacing: 2px;
  width: 5em;
}

#loadError {
  color: #BF5054;
}

#dialogBackground {
  display: none;
  position:absolute;
  left:0;
  top:0;
  height:100%;
  width:100%;
  opacity: 0.75;
  background-color: black;
  z-index:10000;
}

.fileitem {
  background-color: #BF5054;
  display: block;
  border-radius: 10px;
  padding: 3px;
  margin: 5px;
}

.fileitem.alt {
  background-color: #837EF9; 
}

.fileitem:hover {
  background-color: #C084C1;
}

.filename {
  display: inline-block;
  width: 15%;
  text-align: right;
  padding-right: 5px;
  color:black;
}

.filetitle {
  color:white;
  display: inline-block;
  width: 80%;
  background-color: black;
  padding: inherit;
  margin: -5px;
}


::-webkit-scrollbar {
    width:6px;
    height:6px;
}

::-webkit-scrollbar-track {
    -webkit-border-radius:5px;
    border-radius:5px;
    background:rgba(255,255,255,.1);
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius:5px;
    border-radius:5px;
    background:rgba(255,255,255,0.2);
}

::-webkit-scrollbar-thumb:hover {
    background:rgba(255,255,255,0.4);
}