SetEnvIf HOST "localhost" REWRITEBASE=/~jon/summerschool/
SetEnvIf HOST "explore.vision" REWRITEBASE=/
RewriteEngine on

RewriteBase /

RewriteCond %{REQUEST_URI} !^/index.php
RewriteCond %{REQUEST_URI} !.php$
RewriteCond %{REQUEST_URI} !/$
#RewriteCond %{REQUEST_URI} !/

RewriteRule ^([A-Za-z0-9]*)$ %{ENV:REWRITEBASE}index.php?id=$1 [QSA]
